<div class="row">
    <div class="col-md-12">
        <h2 class="right-line">Добавить комментарий</h2>
        <div class="card">
            <div class="card-block">
              <%= form_for Comment.new, :url => {:controller => "comments" ,:action => "new"}, :html => { :class => "form-horizontal" } do |f| %>
                  <%= f.cktext_area  :body, ckeditor: { language: 'ru', toolbar: 'forComments'} %>
                  <%= f.hidden_field :model_id, :value => @model.id %>
                  <%= f.submit "Сохранить", :class => "btn btn-xlg btn-raised btn-success" %>
              <% end %>
            </div>
        </div>
    </div>
</div>