// Place all the styles related to the static-pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#aside1 {
    position: -webkit-sticky;  // required for Safari
    position: sticky;
    top: 15px; // required as well.
} 